<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>Sentiment:</strong>
    <%= article.sentiment %>
  </p>

  <p>
    <strong>Rssfeed:</strong>
    <%= article.RssFeed_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= article.Group_id %>
  </p>

</div>
