<%= form_with(model: rss_feed) do |form| %>
  <%= render partial: 'errors', locals: { rss_feed: rss_feed } %>

  <div class="row g-3 align-items-center">
    <div class="col-md-1">
        <%= form.label :title, class: "form-label-col" %>
    </div>
    <div class="col-auto">
        <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="row g-3 align-items-center">
      <div class="col-md-1">
          <%= form.label :url, class: "form-label-col" %>
      </div>
      <div class="col-auto">
          <%= form.text_field :url, class: "form-control" %>
      </div>
  </div>

  <div class="button-toolbar mt-2">
    <%= form.submit "Save", class: 'btn btn-primary' %>
    <%= link_to "Back to RSS Feeds", rss_feeds_path, class: 'btn btn-danger' %>
  </div>
<% end %>
