<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Newsreader Application', articles_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <%= link_to 'Articles', articles_path, class: navbar_link_class(active == :articles) %>
        </li>

        <li class="nav-item">
          <%= link_to 'RSS Feeds', rss_feeds_path, class: navbar_link_class(active == :rss_feeds) %>
        </li>

        <li class="nav-item">
          <%= button_to 'Fetch Articles', fetch_articles_path, action: :post %>
        </li>

        <li class="nav-item">
          <%= button_to 'Update Sentiment', update_sentiment_articles_path, action: :post %>
        </li>
      </ul>
    </div>
  </div>
</nav>
